name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '39 2 * * *'  # 02:39 UTC every day

jobs:
  scheduled:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        cache: 'npm'

    - name: Install dependencies
      run: |
        npm install

    - name: Fetch latest data
      run: |
        make clean
        make

    - name: Commit and push if it changed
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        branch: main
        file_pattern: 'all.geojson'
        commit_user_name: GitHub Actions # defaults to "GitHub Actions"
        commit_user_email: actions@github.com # defaults to "actions@github.com"
        commit_author: GitHub Actions <actions@github.com> # defaults to author of the commit that triggered the run
