name: Verify manual changes to historic.geojson

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'historic.geojson'

jobs:
  scheduled:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        cache: 'npm'

    - name: Install dependencies
      run: |
        npm install

    - name: Verify historic.geojson
      run: |
        make test
